.table td {
  padding: 30px;
}
.table th {
  padding: 20px;
}
.table {
  font-size: 1rem;
}

@media screen and (max-width: 576px) {
  .table td,
  .table th {
    padding: 10px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .timestamp-column {
    font-size: 0.3rem;
  }
}

@media screen and (max-width: 360px) {
  .table {
    font-size: 0.2rem;
  }
}
